.el-icon-menu {
    color: red;
}

.el-table .first-row {
    background: #20A0FF
}

.el-table .info-row {
    background: #13CE66;
}

.el-table .positive-row {
    background: #FF4949;
}

.el-table .fouth-row {
    background: #F7BA2A
}

.pu_la,
.pu_re {
    margin-left: 20px;
    // background: #F7BA2A;
    color: #FF4949;
    font-weight: bold;
}

.pu_re {
    color: #666666;
}

.pula2 {
    margin-left: 20px;
}

.el-icon-check {
    color: green;
}

.pub_ma {
    background-color: #dc1932;
    border-color: #dc1932;
    color: #fff;
    cursor: pointer;
}

.btn_unbind {
    background-color: #dc1932;
    border-color: #dc1932;
    color: #fff;
    cursor: pointer;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.grid-content {
    min-height: 36px;
    line-height: 36px;
    padding-left: 10px;
    /*border: solid 1px #eef1f6;*/
}

.bg-purple-light {
    background: #eef1f6;
}